<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Game Notifications</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2 style="text-align:center">Notification for event</h2>
        <br>
        <form action="#" th:action="@{/contest}" th:object="${newContest}" method="post">
            <div class="form-group">
                <label for="contestId">Game:</label>
                <th:block th:if="*{contestId}">
                    <select class="form-control" id="contestId" th:field="*{contestId}" disabled>
                        <option th:each="event : ${events}"
                                th:value="${event.roomName}"
                                th:utext="${event.gameName}"></option>
                    </select>
                    <input type="hidden" th:field="*{contestId}">
                </th:block>
                <th:block th:unless="*{contestId}">
                    <div class="input-group">
                        <select class="form-control" id="contestId" th:field="*{contestId}" aria-describedby="g-addon">
                            <option th:each="event : ${events}"
                                    th:value="${event.roomName}"
                                    th:utext="${event.gameName}"></option>
                        </select>
                        <a class="input-group-addon" id="g-addon" title="Refresh games list" href="/games/refresh">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </th:block>
            </div>

            <table style="width:100%">
            <h4 style="text-align:center">Notifications</h4>
                <tr>
                    <th style="width:50%">
                        <label>For slack:</label>
                        <input type="checkbox" style="left-margin:30px" value="ON_ANY_LEADERBOARD_CHANGE" th:field="*{slackCommonNotifications}" onclick="hiddenAndUnhiddenDiv('slackToken'); hiddenAndUnhiddenDiv('slackChannel'); hiddenAndUnhiddenDiv('personalNotifySlack')">
                    </th>
                    <th style="width:50%">
                        <label>For email:</label>
                        <input type="checkbox" style="left-margin:30px" value="ON_ANY_LEADERBOARD_CHANGE" th:field="*{emailCommonNotifications}" onclick="hiddenAndUnhiddenDiv('senseiEmailsAsString'); hiddenAndUnhiddenDiv('personalNotifyEmail')">
                    </th>
                </tr>

                <hr>
                <br>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="slackToken">Slack token:</label>
                            <input class="form-control" id="slackToken" th:field="*{slackToken}" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="senseiEmailsAsString">Sensei e-mail(s):</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text" id="se-addon">@</span>
                                </div>
                                <input class="form-control" id="senseiEmailsAsString" th:field="*{senseiEmailsAsString}" aria-describedby="se-addon" disabled>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group" id="slack-channel">
                            <label for="slackChannel">Slack channel:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text" id="sc-addon">#</span>
                                </div>
                                <input class="form-control" id="slackChannel" th:field="*{slackChannel}" aria-describedby="sc-addon" disabled>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="slack-personal" class="container">
                            <h5>Personal slack notifications</h5>
                            <div class="row border">
                                <div class="col">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="personalNotifySlack" th:field="*{personalPositionChangeSlack}" disabled>
                                        <label class="form-check-label" for="personalNotifySlack">Turn on personal slack notifications</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="email-personal" class="container">
                            <h5>Personal email notifications</h5>
                            <div class="row border">
                                <div class="col">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="personalNotifyEmail" th:field="*{personalPositionChangeEmail}" disabled>
                                        <label class="form-check-label" for="personalNotifyEmail">Turn on personal email notifications</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
            <br>
            <div class="container" style="align:center">
                <h5>Group notification rules</h5>
                <div class="row border">
                    <div class="col">
                        <table class="table-control" th:value="${selectRequest}">
                            <tr th:each="query : ${queries}">
                                <td>
                                    <label th:text="${query.id} + ."></label>
                                    <label th:text="${query.queryDescription}"></label>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                <form action="#" th:action="@{/request}" th:object="${newRequest}" method="post">
                    <button style="text-align:center" class="btn btn-primary" type="submit" name="action" value="add">Add Request</button>
                </form>
                <button style="text-align:center" class="btn btn-primary" type="submit" name="action" value="start" th:text="*{contestId} ? 'Restart Notifications' : 'Start Notifications'">Start Notifications</button>
            </div>
        </form>
    </div>

    <br>
    <hr>
    <div class="container my-5">
        <h4>Listening for events</h4>
        <div class="row border" th:each="contest : ${contests}">
            <!--<div class="col" th:text="${contest.contestId}"></div>-->
            <div class="col" th:text="${contest.title}"></div>
            <div class="col">
                <a title="Edit" th:href="@{/contest/open/{id}(id=${contest.contestId})}">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="#" title="Stop notifications" data-toggle="modal" data-target="#confirm">
                    <i class="fa fa-trash"></i>
                </a>
            </div>

            <div class="modal" id="confirm" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Confirmation</h5>
                        </div>
                        <div class="modal-body">
                            Please, confirm stopping notifications.
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger btn-ok" th:href="@{/contest/stop/{id}(id=${contest.contestId})}">Stop</a>
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function hiddenAndUnhiddenDiv(divName) {
            var x = document.getElementById(divName);
            if (x.disabled) {
                x.disabled = false;
            } else {
                x.disabled = true;
            }
        }
    </script>
</body>
</html>